html, body{
  margin: 0;
  padding: 0;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #849d8f;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}
body > input[type="radio"] {
  display: none;
}
img{
  max-width: 100%
}
*{
  box-sizing: border-box;
}
.outline{
  outline: 1px solid green;
}
.wrapper{
  width: 100%;
  padding: 9px 2.3% 0 2.3%;
  background-color: #849d8f;
  background-image: url(../img/icecream1.png);
  background-repeat: no-repeat;
  background-position: top center;
  transition: background-image 0.5s ease, background-color 0.5s ease;
}
.wrapper:before,
.wrapper:after {
  content: "";
  visibility: hidden;
}
.wrapper:before,
.wrapper:after {
  background-image:  url("../img/icecream1.png");
}
.wrapper:after {
  background-image: url("../img/icecream2.png");
}
/*Хедер*/
.header{
  position: relative;
  z-index: 6;
}
/*Скрытые элементы панели навигации*/
.submenu-box,
.search-hover,
.login-hover{
  display: none;
}
/*Стили навигационной панели*/
.header > ul{
  margin: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
.header-navigation-menu > li,
.header-user-box > li{
  display: inline-block;
  vertical-align: top;
}
.logo-image{
  position: relative;
  left: -6px;
  margin-right: 5px;
}
.navigation-menu-item{
  position: relative;
  margin-top: 12px;
}
.navigation-menu-link{
  display: block;
  padding: 8px 13px 8px 13px;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.text-dec{
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.header-user-box{
  float: right;
  padding: 10px 0 20px 0;
}
/*Кнопки в хедере*/
.user-box-search,
.user-box-login,
.user-box-bascket{
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-box-search{
  width: 32px;
  height: 32px;
  margin-top: 2px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../img/sprite.png) no-repeat -6% 115%;
}
.user-box-bascket,
.user-box-login{
  margin-left: 5px;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
}
.user-box-login{
  padding: 8px 20px 8px 35px;
  border-radius: 100px;
}
.user-box-bascket{
  padding: 8px 30px 8px 35px;
  border-radius: 100px
}
/*окошко для спрайта*/
.icon{
  display: block;
  position: relative;
  z-index: 2;
  margin-left: 5px;
}
.icon::before{
  content: "";
  position: absolute;
  left:-25px;
  top:-3px;
}
.icon-entr::before{
  width: 21px;
  height: 21px;
  background: url(../img/sprite.png) no-repeat 0 2px;
}
.icon-cart::before{
  width: 23px;
  height: 23px;
  background: url(../img/sprite.png) no-repeat -1px -31px;
}
/*Ховеры, нажатия и активные пункты*/
/*Кнопки меню*/
.navigation-menu-item:hover,
.navigation-menu-link:hover{
  background: #ffffff;
  border-radius: 100px;
}
.navigation-menu-item:hover .text-dec,
.navigation-menu-link:hover .text-dec{
  border: none;
  color:#000000;
}
.navigation-menu-link:active{
  box-shadow:inset 0px 2px 6px -1px #000000;
}
/*Кнопки user-box*/
.user-box-login:hover,
.user-box-bascket:hover{
  color:#333333;
  background: #f8f7f4;
}
.user-box-search:hover{
  background: #f8f7f4 url(../img/sprite.png) no-repeat -25px 115%;
}
.user-box-login:hover .icon-entr::before{
  background: url(../img/sprite.png) no-repeat -28px 2px;
}
.user-box-bascket:hover .icon-cart::before{
  background: url(../img/cart.svg) no-repeat 0 2px;
}
/*Всплывающее подменю*/
.submenu-box{
  position: absolute;
  left: -4px;
  display: none;
  padding-top:10px;
  width: 143px;
}
.submenu-box-inner{
  margin: 0;
  padding: 0;
  border-radius: 7px;
  background-color: #f8f7f4;
  list-style: none;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 14px;
  line-height: 16px;
  overflow: hidden;
}
.submenu-title{
   font-weight: bold;
   border-bottom: 1px solid #d1d0ce;
   padding: 10px 0 10px 0;
   margin: 0 10px 0 10px;
}
.submenu-item > a{
  display: block;
  padding: 8px 20px 8px 10px;
  text-decoration: none;
  color: #323232;
}
.submenu-item:hover{
  background-color: #fbded8;
}
.submenu-item:active{
  background-color: #f6b5a5;
}
.navigation-menu-item:hover>.submenu-box{
  display:block;
}
/*Блок с инфой*/
.header-info-box{
  font-family: "roboto", "Arial", sans-serif;
  color: #ffffff;
  text-align: right;
  position: absolute;
  top: 55px;
  right: 0;
}
.info-box-worktime{
  font-size: 14px;
  line-height: 16px;
  margin-bottom: 0;
  font-weight: bold;
}
.info-box-phone{
  margin-top: 5px;
  font-size: 22px;
  line-height: 24px;
  font-weight: bold;
}
/*Стили слайдера*/
.slide {
  display: none;
}
.slider-box{
  position: relative;
  padding-top: 270px;
  text-align: center;
  color: #ffffff;
  z-index: 1;
}
.slide-title {
  width: 700px;
  margin: 0 auto;
  margin-bottom: 30px;
  font-weight: 800;
  font-size:60px;
  line-height: 60px;
}
.slide-btn {
  display: inline-block;
  padding: 12px 50px;
  font-weight: 600;
  font-size: 31px;
  line-height: 41px;
  vertical-align: top;
  color: #ffffff;
  text-decoration: none;
  text-shadow: 0 2px 5px rgba(160, 32, 11, 0.76);
  background: #f26843;
  background:    -moz-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background: -webkit-linear-gradient(top, #f26843 0%, #e74a35 100%);
  background:         linear-gradient(to bottom, #f26843 0%, #e74a35 100%);
  border-radius: 100px;
  box-shadow: 0 2px 2px rgba(172, 16, 0, 0.64);
}
.slide-btn:hover {
  background:    -moz-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background: -webkit-linear-gradient(top, #f58669 0%, #ec6f5e 100%);
  background:         linear-gradient(to bottom, #f58669 0%, #ec6f5e 100%);
  box-shadow: 0 2px 2px rgba(172, 16, 0, 1);
}
.slide-btn:active {
  background:    -moz-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background: -webkit-linear-gradient(top, #d84732 0%, #e1613e 100%);
  background:         linear-gradient(to bottom, #d84732 0%, #e1613e 100%);
  box-shadow: inset 0 2px 2px rgba(172, 16, 0, 1);
}
.slider-controls {
  position: absolute;
  bottom: 25px;
  left: 0;
  z-index: 20;
  font-size: 0;
}
.slider-controls label {
  display: inline-block;
  width: 17px;
  height: 17px;
  margin-right: 8px;
  vertical-align: top;
  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 50%;
  cursor: pointer;
}
#btn-1:checked ~ .wrapper #slide1,
#btn-2:checked ~ .wrapper #slide2,
#btn-3:checked ~ .wrapper #slide3 {
  display: block;
}
#btn-1:checked ~ .wrapper {
  background-color: #849d8f;
  background-image: url("../img/icecream1.png");
}
#btn-2:checked ~ .wrapper {
  background-color: #8996a6;
  background-image: url("../img/icecream2.png");
}
#btn-3:checked ~ .wrapper {
  background-color: #9d8b84;
  background-image: url("../img/icecream3.png");
}
#btn-1:checked ~ .wrapper label[for="btn-1"],
#btn-2:checked ~ .wrapper label[for="btn-2"],
#btn-3:checked ~ .wrapper label[for="btn-3"] {
  background-color: #ffffff;
}
