html, body{
  margin: 0;
  padding: 0;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 22px;
  line-height: 26px;
  background-color: #849d8f;
  max-width: 1200px;
  min-width: 900px;
  margin: 0 auto;
}
img{
  max-width: 100%
}
*{
  box-sizing: border-box;
}
.outline{
  outline: 1px solid green;
}
.wrapper{
  width: 100%;
  padding: 9px 2.3% 0 2.3%;
  background-color: #849d8f;
}
/*Хедер*/
/*Скрытые элементы панели навигации*/
.submenu-box,
.search-hover,
.login-hover{
  display: none;
}
/*Стили навигационной панели*/
header ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-block;
  vertical-align: top;
}
header li{
  display: inline-block;
  vertical-align: top;
}
.logo-image{
  position: relative;
  left: -6px;
}
.navigation-menu-item{
  display: block;
  position: relative;
  margin-left: 15px;
  margin-top: 12px;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: bold;
  color: #ffffff;
  text-decoration: none;
}
.text-dec{
  position: relative;
  display: block;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  padding-bottom: 1px;
  padding-top: 6px;
  z-index: 2;
}
.header-user-box{
  float: right;
  padding: 14px 33px 20px 0;
}
/*Кнопки в хедере*/
.user-box-search,
.user-box-login,
.user-box-bascket{
  position: relative;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.2);
}
.user-box-search{
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.2) url(../img/sprite.png) no-repeat -6% 115%;
}
.user-box-login,
.user-box-bascket{
  width: 28px;
  height: 32px;
  margin-left: 40px;
  font-family: "roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 18px;
  color: #fff;
}
.user-box-login::before,
.user-box-login::after,
.user-box-bascket::after,
.user-box-bascket::before{
  content: " ";
  position: absolute;
  top: 0;
  border: none;
  background-color: inherit;
  width: 32px;
  height: 32px;
}
.user-box-login::before,
.user-box-bascket::before{
  left: -32px;
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.user-box-login::after,
.user-box-bascket::after{
  right: -32px;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.user-box-bascket{
  width: 53px;
  margin-left: 73px;
}
/*окошко для спрайта*/
.icon{
  display: block;
  position: relative;
}
.icon::before{
  content: "";
  position: absolute;
  left:-25px;
  top:-3px;
}
.icon-entr::before{
  width: 21px;
  height: 21px;
  background: url(../img/sprite.png) no-repeat 0 2px;
}
.icon-cart::before{
  width: 23px;
  height: 23px;
  background: url(../img/sprite.png) no-repeat -1px -31px;
}
/*Ховеры, нажатия и активные пункты*/
/*Кнопки меню*/
.navigation-menu-item:hover{
  background: #f7f6f3;
  color: #333333;
  padding-bottom: 7px;

}
.navigation-menu-item:active{
  box-shadow: inset 0 3px 4px -2px black;
}
.navigation-menu-item:hover::before,
.navigation-menu-item:hover::after{
 content: " ";
 position: absolute;
 width: 33px;
 height: 33px;
 background-color: inherit;
 z-index: 1;
}
.navigation-menu-item::before{
  left:-15px;
  border-radius: 50% 0 0 50%;
}
.navigation-menu-item:active::before{
  box-shadow: inset 1px 3px 4px -2px black;
}
.navigation-menu-item::after{
  top:0;
  right: -15px;
  border-radius: 0 50% 50% 0;
}
.navigation-menu-item:active::after{
  box-shadow: inset -1px 3px 4px -2px black;
}
